openapi: 3.0.0
info:
    version: 1.0.0
    title: Eventdrive API
servers:
    - url: https://api.eventdrive.com/public/v1/
      description: Production server (uses live data)
    - url: https://api.dev.eventdrive.com/public/v1/
      description: Sandbox server (uses test data)
paths:
    /token:
        post:
            tags:
                - token
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                client_id:
                                    type: string
                                    description: Client ID
                                client_secret:
                                    type: string
                                    description: Client Secret
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                properties:
                                    access_token:
                                        type: string
                                        format: bearer
                                    token_type:
                                        type: string
                                    expires_in:
                                        type: integer
                                        format: int32
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
    /organization:
        get:
            tags:
                - Organization
            summary: Retrieve organization
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Organization'
                403:
                    $ref: '#/components/responses/403'
    /events:
        get:
            tags:
                - Events
            summary: Retrieve all events
            parameters:
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EventList'
                403:
                    $ref: '#/components/responses/403'
        post:
            tags:
                - Events
            summary: Add a new event
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Event'
            responses:
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Event'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'

    /events/{eventId}:
        get:
            tags:
                - Events
            summary: Retrieve an event
            parameters:
                - $ref: '#/components/parameters/eventId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Event'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Events
            summary: Update an event
            parameters:
                - $ref: '#/components/parameters/eventId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Event'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Event'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Events
            parameters:
                - $ref: '#/components/parameters/eventId'
            summary: Delete an event
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /events/{eventId}/sessions:
        get:
            tags:
                - Events Sessions
            summary: Retrieve event sessions
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SessionList'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        post:
            tags:
                - Events Sessions
            summary: Add a new session
            parameters:
                - $ref: '#/components/parameters/eventId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Session'
            responses:
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Session'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
    /events/{eventId}/sessions/{sessionId}:
        get:
            tags:
                - Events Sessions
            summary: Retrieve a session
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/sessionId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Session'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Events Sessions
            summary: Update a session
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/sessionId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Session'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Session'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Events Sessions
            summary: Delete a session
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/sessionId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'

    /events/{eventId}/attendees:
        get:
            tags:
                - Events Attendees
            summary: Retrieve event attendees
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AttendeeEventList'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /events/{eventId}/attendees/{attendeeId}:
        get:
            tags:
                - Events Attendees
            summary: Retrieve an event attendee using Id
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EventAttendeeRequestBody'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Events Attendees
            summary: Add or update an attendee to an event using Id
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EventAttendeeRequestBody'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        post:
            tags:
                - Events Attendees
            summary: Add attendee to event
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EventAttendeeRequestBody'
            responses:
                200:
                    description: OK
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Events Attendees
            summary: Remove an attendee from event
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'

    /events/{eventId}/attendees/{attendeeId}/sessions:
        get:
            tags:
                - Attendee Sessions
            summary: Retrieve attendee session registrations
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AttendeeSessionList'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'

    /events/{eventId}/attendees/{attendeeId}/sessions/{sessionId}:
        get:
            tags:
                - Attendee Sessions
            summary: Get attendee session registration
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
                - $ref: '#/components/parameters/sessionId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AttendeeSession'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        post:
            tags:
                - Attendee Sessions
            summary: Register attendee to session
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
                - $ref: '#/components/parameters/sessionId'
            responses:
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AttendeeSession'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Attendee Sessions
            summary: Update attendee session registration
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
                - $ref: '#/components/parameters/sessionId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AttendeeSession'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Attendee Sessions
            summary: Unregister attendee from session
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/attendeeId'
                - $ref: '#/components/parameters/sessionId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'

    /events/{eventId}/emails:
        get:
            tags:
                - Events Mails
            summary: Retrieve event mails
            parameters:
                - $ref: "#/components/parameters/eventId"
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/MailList"
                403:
                    $ref: "#/components/responses/403"
                404:
                    $ref: "#/components/responses/404"

    /events/{eventId}/emails/{mailId}/send:
        post:
            tags:
                - Events Mails
            summary: Send an mail using event id, mail id and attendee ids
            parameters:
                - $ref: "#/components/parameters/eventId"
                - $ref: "#/components/parameters/mailId"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                attendee_ids:
                                    type: array
                                    items:
                                        type: integer
                                        example: 1,2,3
            responses:
                200:
                    $ref: "#/components/responses/200"
                400:
                    $ref: "#/components/responses/400"
                403:
                    $ref: "#/components/responses/403"

    /events/{eventId}/emails/{emailInternalName}/send:
        post:
            tags:
                - Events Mails
            summary: Send an mail using event id, confirmation internal name and attendee ids
            parameters:
                - $ref: "#/components/parameters/eventId"
                - $ref: "#/components/parameters/emailInternalName"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                attendee_ids:
                                    type: array
                                    items:
                                        type: integer
                                        example: 1,2,3
            responses:
                200:
                    $ref: "#/components/responses/200"
                400:
                    $ref: "#/components/responses/400"
                403:
                    $ref: "#/components/responses/403"


    /events/{eventExternalId}/emails/{emailInternalName}/send:
        post:
            tags:
                - Events Mails
            summary: Send an mail using event external id confirmation internal name and attendee external ids
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
                - $ref: "#/components/parameters/emailInternalName"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                attendee_external_ids:
                                    type: array
                                    items:
                                        type: string
                                        example: abcd1234,efgh5678,ijkl91011
            responses:
                200:
                    $ref: "#/components/responses/200"
                400:
                    $ref: "#/components/responses/400"
                403:
                    $ref: "#/components/responses/403"

    /events/{eventId}/ticketing/orders:
        get:
            tags:
                - Events Ticketing Orders
            summary: Retrieve all orders from an event
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TicketingOrdersList'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        post:
            tags:
                - Events Ticketing Orders
            summary: Add an order to an event
            parameters:
                - $ref: '#/components/parameters/eventId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TicketingOrder'
            responses:
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TicketingOrder'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'

    /events/{eventId}/ticketing/orders/{orderId}:
        get:
            tags:
                - Events Ticketing Orders
            summary: Retrieve an order from an event
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/ticketingOrderId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TicketingOrder'
                403:
                    $ref: '#/components/responses/403'
        put:
            tags:
                - Events Ticketing Orders
            summary: Add or update an order from an event
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/ticketingOrderId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TicketingOrder'
            responses:
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TicketingOrder'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
        delete:
            tags:
                - Events Ticketing Orders
            summary: Delete an order from an event
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/ticketingOrderId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /events/{eventId}/ticketing/{orderId}/items:
        get:
            tags:
                - Events Ticketing Orders Items
            summary: Retrieve all items from an order of an event
            parameters:
                - $ref: '#/components/parameters/eventId'
                - $ref: '#/components/parameters/ticketingOrderId'
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TicketingOrderItemsList'
                403:
                    $ref: '#/components/responses/403'
    /events/{eventId}/ticketing/{orderId}/items/{itemId}:
        get:
            tags:
                - Events Ticketing Orders Items
            summary: Retrieve an item from an order of an event
            parameters:
               - $ref: '#/components/parameters/eventId'
               - $ref: '#/components/parameters/ticketingOrderId'
               - $ref: '#/components/parameters/ticketingItemId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TicketingOrderItem'
                403:
                    $ref: '#/components/responses/403'
        delete:
            tags:
                - Events Ticketing Orders Items
            summary: Remove an item from an order of an event
            parameters:
               - $ref: '#/components/parameters/eventId'
               - $ref: '#/components/parameters/ticketingOrderId'
               - $ref: '#/components/parameters/ticketingItemId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /attendees:
        get:
            tags:
                - Attendees
            summary: Retrieve all attendees
            parameters:
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AttendeeList'
                403:
                    $ref: '#/components/responses/403'
        post:
            tags:
                - Attendees
            summary: Add a new attendee
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Attendee'
            responses:
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Attendee'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
    /attendees/{attendeeId}:
        get:
            tags:
                - Attendees
            summary: Retrieve an attendee
            parameters:
                - $ref: '#/components/parameters/attendeeId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Attendee'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Attendees
            summary: Update an attendee
            parameters:
                - $ref: '#/components/parameters/attendeeId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Attendee'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Attendee'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Attendees
            summary: Delete an attendee
            parameters:
                - $ref: '#/components/parameters/attendeeId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /events/{eventId}/groups:
      get:
        tags:
          - Groups
        summary: Retrieve groups
        parameters:
          - $ref: "#/components/parameters/eventId"
        responses:
          200:
            description: OK
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/GroupsList"
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404" 
      post:
        tags:
          - Groups
        summary: Add a new group
        parameters:
          - $ref: "#/components/parameters/eventId"
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        responses:
          200:
            description: OK
          400:
            $ref: "#/components/responses/400"
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404"
    /events/{eventId}/groups/{groupId}:
      get:
        tags:
          - Groups
        summary: Retrieve a group
        parameters:
          - $ref: "#/components/parameters/eventId"
          - $ref: "#/components/parameters/groupId"
        responses:
          200:
            description: OK
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Group"
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404"
      put:
        tags:
          - Groups
        summary: Update a group
        parameters:
          - $ref: "#/components/parameters/eventId"
          - $ref: "#/components/parameters/groupId"
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        responses:
          200:
            description: OK
          400:
            $ref: "#/components/responses/400"
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404"
      delete:
        tags:
          - Groups
        summary: Remove a group
        parameters:
          - $ref: "#/components/parameters/eventId"
          - $ref: "#/components/parameters/groupId"
        responses:
          200:
            description: OK
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404"
    /events/{eventId}/groups/{groupId}/attendees:
      get:
        tags:
          - Groups
        summary: Retrieve attendees in group
        parameters:
          - $ref: "#/components/parameters/eventId"
          - $ref: "#/components/parameters/groupId"
        responses:
          200:
            description: OK
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/GroupAttendeesList"
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404"   
    /events/{eventId}/groups/{groupId}/attendees/{attendeeId}:
      put:
        tags:
          - Groups
        summary: Add an attendee to a group
        parameters:
          - $ref: "#/components/parameters/eventId"
          - $ref: "#/components/parameters/groupId"
          - $ref: "#/components/parameters/attendeeId"
        responses:
          200:
            description: OK
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404"
            
      delete:
        tags:
          - Groups
        summary: Detach an attendee of a group
        parameters:
          - $ref: "#/components/parameters/eventId"
          - $ref: "#/components/parameters/groupId"
          - $ref: "#/components/parameters/attendeeId"
        responses:
          200:
            description: OK
          403:
            $ref: "#/components/responses/403"
          404:
            $ref: "#/components/responses/404"
    /members:
        get:
            tags:
                - Members
            summary: Retrieve all members
            parameters:
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MembersList'
                403:
                    $ref: '#/components/responses/403'
        post:
            tags:
                - Members
            summary: Add a new member
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Member'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /members/{memberId}:
        get:
            tags:
                - Members
            summary: Retrieve a member
            parameters:
                - $ref: '#/components/parameters/memberId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                403:
                    $ref: '#/components/responses/403'
        put:
            tags:
                - Members
            summary: Update a member
            parameters:
                - $ref: '#/components/parameters/memberId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Member'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Members
            summary: Delete a member
            parameters:
                - $ref: '#/components/parameters/memberId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /events/{eventExternalId}:
        get:
            tags:
                - Events
            summary: Retrieve an event using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Event'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Events
            summary: Update or Create an event using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Event'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Event'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Event'
                400:
                    description: Bad Request
                    content:
                        application/json:
                            examples:
                                Invalid main manager:
                                    value:
                                        message: 'The given data was invalid.'
                                        errors:
                                            main_manager_id:
                                                - 'The selected main manager id is invalid.'
                                Invalid additional managers:
                                    value:
                                        message: 'The given data was invalid.'
                                        errors:
                                            additional_manager_id.0:
                                                - 'The selected additional_manager_id.0 is invalid.'
                                            additional_manager_id.1:
                                                - 'The selected additional_manager_id.1 is invalid.'
                                Invalid template Id:
                                    value:
                                        message: 'The given data was invalid.'
                                        errors:
                                            event_template_id:
                                                - 'The selected event template id is invalid.'

                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Events
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
            summary: Update an event using external Id
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /members/{memberExternalId}:
        get:
            tags:
                - Members
            summary: Retrieve a member using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/memberExternalId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                403:
                    $ref: '#/components/responses/403'
        put:
            tags:
                - Members
            summary: Update or Create a member using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/memberExternalId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Member'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                400:
                    description: Bad Request
                    content:
                        application/json:
                            examples:
                                Missing required field:
                                    value:
                                        message: 'The given data was invalid.'
                                        errors:
                                            first_name:
                                                - 'The first name field is required.'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Members
            summary: Delete a member using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/memberExternalId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /attendees/{attendeeExternalId}:
        get:
            tags:
                - Attendees
            summary: Retrieve an attendee using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/attendeeExternalId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Attendee'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Attendees
            summary: Update or Create an attendee using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/attendeeExternalId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Attendee'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Attendee'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Attendee'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Attendees
            summary: Delete an attendee using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/attendeeExternalId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /events/{eventExternalId}/attendees:
        get:
            tags:
                - Events Attendees
            summary: Retrieve event attendees using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AttendeeEventList'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
    /events/{eventExternalId}/attendees/{attendeeExternalId}:
        get:
            tags:
                - Events Attendees
            summary: Retrieve an event attendee using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
                - $ref: '#/components/parameters/attendeeExternalId'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EventAttendeeRequestBody'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Events Attendees
            summary: Add or update an attendee to an event using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
                - $ref: '#/components/parameters/attendeeExternalId'
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EventAttendeeRequestBody'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/Attendee'
                                    - $ref: '#/components/schemas/EventAttendee'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Events Attendees
            summary: Remove an attendee from an event using external Id
            parameters:
                - $ref: '#/components/parameters/useExternalId'
                - $ref: '#/components/parameters/eventExternalId'
                - $ref: '#/components/parameters/attendeeExternalId'
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'

    /teams:
        get:
            tags:
                - Teams
            summary: Retrieve all teams
            parameters:
                - $ref: '#/components/parameters/perPage'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TeamList'
                403:
                    $ref: '#/components/responses/403'
        post:
            tags:
                - Teams
            summary: Add a new Team
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Team'
            responses:
                201:
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Team'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'

    /teams/{teamId}:
        get:
            tags:
                - Teams
            summary: Retrieve a team
            parameters:
                - $ref: '#/components/parameters/teamId'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Team'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        put:
            tags:
                - Teams
            summary: Update a team
            parameters:
                - $ref: '#/components/parameters/teamId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Team'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Team'
                400:
                    $ref: '#/components/responses/400'
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
        delete:
            tags:
                - Teams
            parameters:
                - $ref: '#/components/parameters/teamId'
            summary: Delete a team
            responses:
                200:
                    description: OK
                403:
                    $ref: '#/components/responses/403'
                404:
                    $ref: '#/components/responses/404'
security:
    - oauth: []
components:
    securitySchemes:
        oauth:
            type: oauth2
            flows:
                clientCredentials:
                    tokenUrl: https://api.eventdrive.com/public/v1/token
                    scopes: {}
    responses:
        200:
            description: OK
            content:
                application/json: {}
        400:
            description: Bad Request
        401:
            description: Unauthorized
        403:
            description: Forbidden
        404:
            description: Not Found
    schemas:
        Organization:
            type: object
            required:
                - email
                - first_name
                - last_name
            properties:
                id:
                    type: integer
                    format: int32
                name:
                    type: string
                slug:
                    type: string
                branding:
                    type: object
                    properties:
                        color:
                            type: string
                        icon_url:
                            type: string
                        logo_url:
                            type: string
                        background_image_url:
                            type: string
                        promo_image_url:
                            type: string
        Attendee:
            type: object
            required:
                - email
                - first_name
                - last_name
            properties:
                id:
                    type: integer
                    format: int32
                external_id:
                    type: string
                email:
                    type: string
                    format: email
                first_name:
                    type: string
                last_name:
                    type: string
                company:
                    type: string
                job_title:
                    type: string
                avatar_url:
                    type: string
                biography:
                    type: string
                country_code:
                    type: string
                    example: FR
                country_name:
                    type: string
                location:
                    type: string
                phone_number:
                    type: string
                facebook_url:
                    type: string
                    format: uri
                    example: 'https://www.facebook.com/#'
                linkedin_url:
                    type: string
                    format: uri
                    example: 'https://www.linkedin.com/in/#'
                twitter_url:
                    type: string
                    format: uri
                    example: 'https://twitter.com/#'
                website_url:
                    type: string
                    format: uri
                is_unsubscribe:
                    type: boolean
                extra_fields:
                    type: object
                created_at:
                    type: string
                    format: date-time
                    readOnly: true
                updated_at:
                    type: string
                    format: date-time
                    readOnly: true
        Event:
            type: object
            required:
                - name
                - start_date
                - end_date
                - timezone
            properties:
                id:
                    type: integer
                    format: int32
                external_id:
                    type: string
                main_manager_id:
                    type: integer
                    format: int32
                additional_manager_id:
                    type: array
                    items:
                        type: string
                event_template_id:
                    type: string
                    writeOnly: true
                is_template:
                    type: boolean
                    readOnly: true
                    example: false
                category_id:
                    type: integer
                    format: int32
                category_ids:
                    type: array
                    items:
                        type: integer
                name:
                    type: object
                    properties:
                        en:
                            type: string
                    additionalProperties:
                        type: string
                description:
                    type: object
                    properties:
                        en:
                            type: string
                    additionalProperties:
                        type: string
                visibility:
                    type: string
                    enum: [protected, private, public]
                    default: public
                status:
                    type: string
                    enum: [draft, live, closed]
                    default: draft
                reference_id:
                    type: string
                start_date:
                    type: string
                    format: date-time
                end_date:
                    type: string
                    format: date-time
                timezone:
                    type: string
                    example: Europe/Paris
                default_locale:
                    type: string
                    writeOnly: true
                    example: fr
                replay:
                    type: boolean
                available_locales:
                    type: array
                    items:
                        type: string
                        example: fr
                venue:
                    type: object
                    properties:
                        name:
                            type: string
                        address:
                            type: string
                        city:
                            type: string
                        postcode:
                            type: string
                        country_code:
                            type: string
                            example: FR
                        latitude:
                            type: string
                        longitude:
                            type: string
                website:
                    $ref: '#/components/schemas/Website'
                urls:
                    type: object
                    readOnly: true
                    properties:
                        admin:
                            type: string
                            example: 'https://#'
                        website:
                            type: string
                            example: 'https://evdr.co/#'
                        web_app:
                            type: string
                            example: 'https://#'
        Session:
            type: object
            required:
                - name
                - start_date
                - end_date
                - visibility
            properties:
                id:
                    type: integer
                    format: int32
                external_id:
                    type: string
                name:
                    type: object
                    properties:
                        en:
                            type: string
                    additionalProperties:
                        type: string
                description:
                    type: object
                    properties:
                        en:
                            type: string
                    additionalProperties:
                        type: string
                visibility:
                    type: string
                    enum: [everyone, only_attendee_groups, registered_attendees]
                has_waiting_list:
                    type: boolean
                start_date:
                    type: string
                    format: date-time
                    example: '2025-11-07 08:00:00'
                end_date:
                    type: string
                    format: date-time
                    example: '2025-11-07 09:00:00'
                max_capacity:
                    type: integer
                    format: int32
                    nullable: true
                registered_attendee_count:
                    type: integer
                    format: int32
                    readOnly: true
                    description: Number of attendees registered to this session
                child_ids:
                    type: array
                    items:
                        type: integer
                        format: int32
                    readOnly: true
                    description: IDs of child sessions (sessions where parent_id equals this session's ID)
                child_external_ids:
                    type: array
                    items:
                        type: string
                    readOnly: true
                    description: External IDs of child sessions (sessions where parent_id equals this session's ID)
        EventList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Event'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32
                next_page_url:
                    type: string
                    format: uri
                prev_page_url:
                    type: string
                    format: uri
                first_page_url:
                    type: string
                    format: uri
                last_page_url:
                    type: string
                    format: uri
        SessionList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Session'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32
                next_page_url:
                    type: string
                    format: uri
                prev_page_url:
                    type: string
                    format: uri
                first_page_url:
                    type: string
                    format: uri
                last_page_url:
                    type: string
                    format: uri
        AttendeeList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Attendee'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32
                next_page_url:
                    type: string
                    format: uri
                prev_page_url:
                    type: string
                    format: uri
                first_page_url:
                    type: string
                    format: uri
                last_page_url:
                    type: string
                    format: uri
        AttendeeEventList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        allOf:
                            - $ref: '#/components/schemas/Attendee'
                            - $ref: '#/components/schemas/EventAttendee'
        Member:
            type: object
            required:
                - first_name
                - last_name
                - email
                - company
            properties:
                id:
                    type: integer
                    format: int32
                    readOnly: true
                external_id:
                    type: string
                first_name:
                    type: string
                last_name:
                    type: string
                email:
                    type: string
                    format: email
                password:
                    type: string
                    writeOnly: true
                phone_number:
                    type: string
                company:
                    type: string
                job_title:
                    type: string
                location:
                    type: string
                locale:
                    type: string
                    example: fr
                timezone:
                    type: string
                    example: Europe/Paris
                country_code:
                    type: string
                    example: FR
                active_event_short_url:
                    type: string
                    readOnly: true
        MembersList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Member'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32
                next_page_url:
                    type: string
                    format: uri
                prev_page_url:
                    type: string
                    format: uri
                first_page_url:
                    type: string
                    format: uri
                last_page_url:
                    type: string
                    format: uri
        EventAttendee:
            type: object
            properties:
                specific_attributes:
                    type: array
                    readOnly: true
                    items:
                        type: object
                        properties:
                            name:
                                type: string
                                example: 'First registration form'
                            label:
                                type: string
                                example: 'first_form'
                            created_at:
                                type: string
                                format: date-time
                            attributes:
                                type: object
                                additionalProperties:
                                    type: string
                registration:
                    type: object
                    properties:
                        registration_status:
                            type: string
                            enum:
                                - none
                                - invited
                                - pre_registered
                                - confirmed
                                - refused
                        registration_status_updated_at:
                            type: string
                            format: date-time
                            readOnly: true
                        checked_in:
                            type: boolean
                        checked_in_at:
                            type: string
                            format: date-time
                            readOnly: true
                forms:
                    type: object
                    readOnly: true
                    description: 'Every form labels of the event. True if the form was submitted by the attendee.'
                    additionalProperties:
                        type: boolean
                urls:
                    type: object
                    readOnly: true
                    properties:
                        confirm:
                            type: string
                            example: 'https://evdr.co/#'
                        decline:
                            type: string
                            example: 'https://evdr.co/#'
                        forms:
                            type: object
                            properties:
                                formLabel:
                                    type: string
                                    format: uri
                                    example: 'http://admin.eventdrive.com/public/events/#/website/registrationforms/#/#'
                        website:
                            type: string
                            example: 'http://admin.eventdrive.wip/public/events/#/website/home/0/0/#'
                qr_code:
                    type: string
                    readOnly: true
                    description: 'Base-64 encoded QR Code image'
                token:
                    type: string
                    readOnly: true
                role:
                    type: string
                    enum:
                        - attendee
                        - speaker
                        - moderator
                        - owner
                        - admin
                disclaimers_consent:
                    type: array
                    readOnly: true
                    items:
                        type: object
                        properties:
                            disclaimer_id:
                                type: integer
                                format: int32
                            titles:
                                type: object
                                properties:
                                    en:
                                        type: string
                                additionalProperties:
                                    type: string
        EventAttendeeRequestBody:
            type: object
            properties:
                registration_status:
                    type: string
                    enum:
                        - none
                        - invited
                        - pre_registered
                        - confirmed
                        - refused
                confirmation_email_id:
                    type: integer
                    example: 1
                confirmation_email_internal_name:
                    type: string
                    example: 'mail_exemple'
                checked_in:
                    type: boolean
                invited_by_first_name:
                    type: string
                invited_by_last_name:
                    type: string
                invited_by_email:
                    type: string
                    format: email

        Mail:
            type: object
            properties:
                id:
                    type: integer
                    format: int32
                    readOnly: true
                name:
                    type: string
                    readOnly: true
                subject:
                    type: string
                    readOnly: true
                last_sent:
                    type: string
                    format: date-time
                    readOnly: true
                attach_invitation_icalendar:
                    type: boolean
                    readOnly: true

        MailList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: "#/components/schemas/Mail"

        TicketingOrder:
            type: object
            required:
                - attendee_id
            properties:
                id:
                    type: integer
                    format: int32
                    readOnly: true
                attendee_id:
                    type: integer
                    format: int32
                    readOnly: false
                status_id:
                    type: integer
                    format: int32
                    readOnly: false
                cost_center_id:
                    type: integer
                    format: int32
                    readOnly: false
                total_cost:
                    type: number
                    format: float
                    readOnly: true
                comment:
                    type: string
                    readOnly: false
                internal_comment:
                    type: string
                    readOnly: false
                orderItems:
                    type: array
                    readOnly: true
                    items:
                        $ref: '#/components/schemas/TicketingOrderItem'

        TicketingOrdersList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/TicketingOrder'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32
                next_page_url:
                    type: string
                    format: uri
                prev_page_url:
                    type: string
                    format: uri
                first_page_url:
                    type: string
                    format: uri
                last_page_url:
                    type: string
                    format: uri

        TicketingOrderItem:
            type: object
            required:
                - attendee_id
            properties:
                id:
                    type: integer
                    format: int32
                    readOnly: true
                ticket_id:
                    type: integer
                    format: int32
                    readOnly: false
                ticket_reference:
                    type: string
                    readOnly: true
                ticket_name:
                    type: string
                    readOnly: true
                validated:
                    type: boolean
                    readOnly: false
                validated_quantity:
                    type: integer
                    readOnly: false
                wish_quantity:
                    type: integer
                    readOnly: false
                unit_price:
                    type: number
                    format: float
                    readOnly: true
                total_cost:
                    type: number
                    format: float
                    readOnly: true

        TicketingOrderItemsList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/TicketingOrderItem'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32
                next_page_url:
                    type: string
                    format: uri
                prev_page_url:
                    type: string
                    format: uri
                first_page_url:
                    type: string
                    format: uri
                last_page_url:
                    type: string
                    format: uri

        Team:
            type: object
            required:
                - name
            properties:
                id:
                    type: integer
                    format: int32
                    readOnly: true
                name:
                    type: string
                    readOnly: false
                slug:
                    type: string
                    readOnly: true

        TeamList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Team'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32
                next_page_url:
                    type: string
                    format: uri
                prev_page_url:
                    type: string
                    format: uri
                first_page_url:
                    type: string
                    format: uri
                last_page_url:
                    type: string
                    format: uri
        Group:
            type: object
            required:
              - name
            properties:
              id:
                type: integer
                format: int32
              name:
                type: object
                properties:
                  en:
                    type: string
                additionalProperties:
                  type: string
              description:
                type: object
                properties:
                  en:
                    type: string
                additionalProperties:
                  type: string
        GroupsList:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: "#/components/schemas/Group"
              total_count:
                type: integer
                format: int32
              page_size:
                type: integer
                format: int32
              current_page:
                type: integer
                format: int32
        GroupAttendeesList:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: "#/components/schemas/Attendee"
              total_count:
                type: integer
                format: int32
              page_size:
                type: integer
                format: int32
              current_page:
                type: integer
                format: int32

        AttendeeSession:
            type: object
            properties:
                id:
                    type: integer
                    format: int32
                external_id:
                    type: string
                registered_at:
                    type: string
                    format: date-time
                checked_in_at:
                    type: string
                    format: date-time

        AttendeeSessionList:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/AttendeeSession'
                total_count:
                    type: integer
                    format: int32
                page_size:
                    type: integer
                    format: int32
                current_page:
                    type: integer
                    format: int32

        WebsiteImages:
            type: object
            properties:
                background_image_path:
                    type: string
                    maxLength: 500
                    example: "https://cdn.example.com/bg.jpg"
                background_image_url:
                    type: string
                    format: uri
                    readOnly: true
                header_image_path:
                    type: string
                    maxLength: 500
                    example: "/storage/header.jpg"
                header_image_url:
                    type: string
                    format: uri
                    readOnly: true
                logo_image_path:
                    type: string
                    maxLength: 500
                    example: "events/123/logo.png"
                logo_image_url:
                    type: string
                    format: uri
                    readOnly: true
        WebsiteLayoutOptions:
            type: object
            properties:
                header_style:
                    type: string
                    enum: [full_width, centered, hero_banner_text_left, hero_banner_text_centered, hidden]
                    example: hero_banner_text_centered
                menu_location:
                    type: string
                    enum: [top, left, right]
                    example: top
                list_layout:
                    type: string
                    enum: [grid, list]
                    example: grid
                overlay_style:
                    type: string
                    description: |
                        Controls the polarity of the 7 overlay constants on the website
                        (event name, event schedule, main content background, footer
                        background, footer text, social network icons, icon texts).
                        When provided, overwrites any existing overlay values.
                          - `light`: all overlays use white at 50% opacity
                            (best on dark header images / dark page bg)
                          - `dark`: all overlays use black at 50% opacity
                            (best on light header images / light page bg)
                          - `mixed`: header zone white + footer zone black
                            (designer default — best on hero image + colored footer)
                    enum: [light, dark, mixed]
                    example: light
        WebsiteColors:
            type: object
            description: |
                Six design-system tokens. Each token drives a group of UI elements:
                  - `primary_color`: header background, agenda items, event description.
                    Structural brand surfaces.
                  - `secondary_color`: page background, buttons text.
                    Contrasting / neutral surfaces.
                  - `tertiary_color`: buttons background, service name, countdown.
                    Accent / call-to-action / attention-grabbers.
                    Falls back to `primary_color` when omitted.
                  - `background_color`: menu background.
                  - `text_color`: menu links, common text, names, links.
                  - `footer_color`: footer background (solid). The footer text and icons
                    remain governed by `layout_options.overlay_style` so they auto-contrast.
                    When omitted, footer background falls back to the default semi-transparent
                    black overlay.
                Header overlays (event name, date & time, main content background) and footer
                text overlays (footer text, social icons, icon texts) are governed by
                `layout_options.overlay_style` (light / dark / mixed) and are not exposed
                as individual hex tokens.
            properties:
                primary_color:
                    type: string
                    pattern: '^#[0-9A-Fa-f]{6}$'
                    example: "#4285F4"
                secondary_color:
                    type: string
                    pattern: '^#[0-9A-Fa-f]{6}$'
                    example: "#FFFFFF"
                tertiary_color:
                    type: string
                    pattern: '^#[0-9A-Fa-f]{6}$'
                    example: "#C9A961"
                background_color:
                    type: string
                    pattern: '^#[0-9A-Fa-f]{6}$'
                    example: "#F3F3F3"
                text_color:
                    type: string
                    pattern: '^#[0-9A-Fa-f]{6}$'
                    example: "#515151"
                footer_color:
                    type: string
                    pattern: '^#[0-9A-Fa-f]{6}$'
                    example: "#5F6368"
        WebsiteFonts:
            type: object
            properties:
                font_family:
                    type: string
                    maxLength: 255
                    example: "Roboto"
                font_provider:
                    type: string
                    description: |
                        Controls how the font is loaded by the website templates:
                          - `system` (default): no stylesheet is injected; the browser
                            falls back to the user's installed fonts. Best for OS fonts
                            like Helvetica Neue, Arial, San Francisco.
                          - `google`: the templates inject a Google Fonts <link> tag
                            automatically generated from `font_family`. Use this for
                            non-system fonts like Roboto, Inter, Lato, etc.
                    enum: [system, google]
                    example: google
        Website:
            type: object
            description: |
                **Website V2 — grouped design tokens.**

                Migration from V1: every flat-style field from the legacy V1
                payload has been removed. Sending any V1 field returns HTTP 422
                with a per-field migration hint pointing at the V2 equivalent.

                | V1 field (deprecated)             | V2 equivalent                                       |
                |-----------------------------------|-----------------------------------------------------|
                | `theme_id`                        | (removed — V2 has no preset themes)                 |
                | `background_color`                | `colors.background_color`                           |
                | `background_size`                 | (removed — no longer customizable)                  |
                | `header_background_color`         | `colors.primary_color`                              |
                | `ui_color`                        | `colors.primary_color` or `colors.tertiary_color`   |
                | `button_color`                    | `colors.tertiary_color`                             |
                | `link_color`                      | `colors.text_color`                                 |
                | `icon_color` / `social_icon_color`| (driven by `layout_options.overlay_style`)          |
                | `background_image_path`           | `images.background_image_path`                      |
                | `header_background_image_path`    | `images.header_image_path`                          |
                | `header_logo_path`                | `images.logo_image_path`                            |
                | `heading_font_*` / `body_font_*`  | `fonts.font_family` + `fonts.font_provider`         |
                | `speaker_photo_format`            | (removed — no longer customizable)                  |

                GET responses for events created before V2 still fall back to
                the legacy DB columns (`theme_id IS NOT NULL`), so existing
                clients reading old events remain unaffected.
            properties:
                images:
                    $ref: '#/components/schemas/WebsiteImages'
                layout_options:
                    $ref: '#/components/schemas/WebsiteLayoutOptions'
                colors:
                    $ref: '#/components/schemas/WebsiteColors'
                fonts:
                    $ref: '#/components/schemas/WebsiteFonts'
    parameters:
        eventId:
            name: eventId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        attendeeId:
            name: attendeeId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        memberId:
            name: memberId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        sessionId:
            name: sessionId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        ticketingOrderId:
            name: orderId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        ticketingItemId:
            name: itemId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        useExternalId:
            in: header
            name: X-Use-External-Id
            description: Use external Id (external system Id) instead of internal Id (Eventdrive Id) in main parameters
            required: true
            schema:
                type: integer
                enum:
                    - 1
        eventExternalId:
            name: eventExternalId
            in: path
            required: true
            schema:
                type: string
        memberExternalId:
            name: memberExternalId
            in: path
            required: true
            schema:
                type: string
        attendeeExternalId:
            name: attendeeExternalId
            in: path
            required: true
            schema:
                type: string
        perPage:
            name: per_page
            in: query
            required: false
            description: "Limit the number of results per page"
            schema:
                type: integer
        teamId:
            name: teamId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        groupId:
            name: groupId
            in: path
            required: true
            schema:
              type: integer
              format: int32
        mailId:
            name: mailId
            in: path
            required: true
            schema:
                type: integer
                format: int32
        emailInternalName:
            name: emailInternalName
            in: path
            required: true
            schema:
                type: string
                format: string
